
.swiper-pagination {
   visibility: hidden;

   .swiper-pagination-bullet {
      background-color: #fff;
   }

   @media (min-width: 600px) {
      visibility: visible;
      bottom: 15px !important;
   }
   @media (min-width: 992px) {
      bottom: 20px !important;
   }
}


.swiper-button-prev,
.swiper-button-next {
   position: absolute;
   display: block;
   width: 30px;
   height: 30px;
   background-color: #212025;
   color: #fff;
   right: 15px;
   bottom: 10px;
   z-index: 11;
   border-radius: 5px;
   transition: .12s all;
   cursor: pointer;

   &:hover {
      background-color: #1b1b1d;
      transform: scale(1.1);
   }

   &:active {
      transform: scale(0.9);
   }

   &::after {
      content: '>';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   @media (min-width: 992px) {
      width: 35px;
      height: 35px;
      right: 20px;
      bottom: 15px;
      &::after {
         font-size: 20px;
      }
   }

   @media (min-width: 1200px) {
      width: 40px;
      height: 40px;
      right: 30px;
   }
}

.swiper-button-prev {
   right: 50px;

   &::after {
      content: '<';
   }

   @media (min-width: 992px) {
      right: 62px;
   }
   
   @media (min-width: 992px) {
      right: 78px;
   }
}